#show{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    padding-top: 50px;
    font-size: 32px;
    color: black;
    font-weight: bold;
}
.container{
    height: 400px;
    /* padding-top: 70px; */
    margin-top: 150px;
    border-radius: 8%;
    box-shadow: 2px 2px 13px 4px rgb(180, 164, 164);
    box-shadow: 2px 2px 13px 4px rgb(216, 211, 211) inset;
}
@media screen and (min-width: 200px) and (max-width:868px){
    #show{
        width: 150px;
        height: 150px;  
        padding-top: 23px;
        font-size: 24px;
    }
    .container{
        height: 400px;
        margin-top: 150px;
    }
    .img{
        height: 40px;
    }
}